body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 0px 150px;
}
div {
    margin-left: 50px;
    margin-right: 50px;
}
.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0%;
    
}
.header-logo {
    font-size: 24px;
    align-self: center;
    font-weight: bold;
    flex-shrink: 0;

}
ul {
    display: flex;
}
li {
    list-style: none;
    padding: 1em;
    font-size: 18px;
    flex-shrink: 0;
}
.hero {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px 50px 150px;
    margin: 0;
    justify-content: center;
}
.hero-content {
    max-width: 400px;
    flex-shrink: 0;
}
h1 {
    color: #f9fafe;  
}
.button1 {
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
}

img {
    max-width: 300px;
    padding-right: 50px;
}
.information {
    background-color: white;
    margin: 0;
    padding: 10px;
    padding-bottom: 150px;
}
.box {
    border: #3882f6 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    flex-wrap: nowrap;
    margin: 10px;
    margin-bottom: 0;
}
h2 {
    margin:0;
    text-align: center;
    padding: 20px;
}
.box-container {
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.under-box-container {
    display: flex;
    justify-content: center;
    width: inherit;
    column-gap: 8px;
    
}
.under-box-text {
   
    margin: auto 10px;
    width: 100px;
    text-align: center;
    font-size: 12px;

}

.quote-section {
    background-color: #e5e7eb;
    font-family: inherit;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    margin: 0;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Thor {
    align-self: flex-end;
    color: black;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
.signUpContainer {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 100px 200px;
    justify-content: center;
}
.callToActionContainer {
    background-color: #3882f6;
    font-family: inherit;
    border-radius: 8px;
    flex-shrink: 0;
    min-width: 850px;
    color: white;
    font-family: inherit;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    }
.callToActionText {
        margin-left: 150px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
#callToAction {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0px;
}
#signUpFor {
    margin-top: 0;
}
.button2 {
    background-color: #3882f6;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.buttondiv {
    align-items: center;
    justify-content: center;
    display: flex;

}
.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 10px 200px;
    margin: 0
}
