body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    padding: 0px 150px;
}
div {
    margin-left: 50px;
    margin-right: 50px;
}
.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    margin: 0%;
    
}
.header-logo {
    font-size: 24px;
    align-self: center;
    font-weight: bold;
    flex-shrink: 0;

}
ul {
    display: flex;
}
li {
    list-style: none;
    padding: 1em;
    font-size: 18px;
    flex-shrink: 0;
}
.hero {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px 200px 150px;
    margin: 0;
}
.hero-content {
    max-width: 400px;
    flex-shrink: 0;
}
h1 {
    color: #f9fafe;  
}
button {
    display: block;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
    padding: 6px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 5px;
}
/* delete below when complete */
.img-placeholder {
    min-width: 300px;
    background-color: grey;
}
/* delete above when complete */
img {
    max-width: 300px;
    padding-right: 50px;
}
.information {
    background-color: white;
    margin: 0;
    padding: 10px;
}
.box {
    border: #3882f6 3px solid;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    flex-wrap: nowrap;
    margin: 10px;
}
h2 {
    margin:0;
    text-align: center;
    padding: 20px;
}
.box-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.under-box-container {
    display: flex;
    justify-content: center;
    width: inherit;
}
.under-box-text {
    align-content: center;
    margin: auto 10px;
    max-width: 100px;
    flex-basis: 0;
}
/* Cant figure out how to get the p to align under the boxes! */

.quote-section {
    background-color: #e5e7eb;
    font-family: inherit;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
    margin: 0;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Thor {
    align-self: flex-end;
    color: black;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}
